.post_content {
    background-color: #E8E8E8;
    border-radius: 30px;
    padding: 20px 30px;
    margin-bottom: 10px;
}

.useravatar {
    width: 35px;
    height: 35px;
    border-radius: 5px;
}

.post_top_row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 17px;
}
.avatar_username_container{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    gap: 10px;
}


.social-icons .stars {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.social-icons svg {
    width: 24px;
    height: 24px;
}